<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.kh.member.domain.Member" alias="Member"/>
		<typeAlias type="org.kh.lecture.domain.Lecture" alias="Lecture" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="MYBATIS"/>
				<property name="password" value="MYBATIS"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/lecture-mapper.xml"/>
	</mappers>
</configuration>